<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="description"
      content="This is Restaurant Web which is built for dicoding front-end expert class' submission "
    />
    <title>Hunger Apps</title>
  </head>
  <body>
    <header>
      <div class="inner-header">
        <div class="header-logo">
          <a href="/">Hunger Apps</a>
        </div>
        <a id="hamburger" href="#">☰</a>
        <nav id="drawer">
          <a id="close-drawer" href="#">×</a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li>
              <a href="https://www.linkedin.com/in/dianprasetyo-2021/"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="content">
      <div class="hero">
        <img
          src="./images/heros/hero-image_4.jpg"
          width=""
          alt="cookies on the bowl"
        />
      </div>
    </main>
  </body>
</html>
