<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="description"
      content="This is Restaurant Web which is built for dicoding front-end expert class' submission "
    />
    <title>Hunger Apps</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="inner-header">
        <div class="header-logo">
          <a href="/">Hunger Apps</a>
        </div>
        <a id="hamburger" href="#" aria-label="open drawer">☰</a>
        <nav id="drawer">
          <a id="close-drawer" href="#" aria-label="close drawer">×</a>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li>
              <a href="https://www.linkedin.com/in/dianprasetyo-2021/"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main id="content">
      <section class="hero">
        <img
          src="./images/heros/hero-image_4.jpg"
          alt="three cookies on the bowl and one cookie outside the bowl. there are yellow flowers and three slice lemon besade the bowl"
        />
      </section>
      <section id="foods">
        <h1>Explore Restaurant</h1>
        <section class="foods-group"></section>
      </section>
      <section id="food-details"></section>
    </main>
    <footer>
      <p>Copyright &copy; 2024 | Hunger Apps - By Dian Prasetyo</p>
    </footer>
  </body>
</html>
