* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  scroll-behavior: smooth;
}

a,
button {
  min-width: 44px;
  min-height: 44px;
}

body {
  min-height: 100dvh;
  position: relative;
  padding-bottom: 48px;
}
