header {
  background-color: $primary-color;
  z-index: 99;

  @include responsive($medium) {
    position: sticky;
    top: 0;
  }

  .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;

    @include responsive($xlarge) {
      max-width: 1000px;
      margin: 0 auto;
      padding: 8px 0;
    }
  }

  .header-logo {
    a {
      color: white;
      text-decoration: none;
      font-size: 32px;
      font-weight: bold;
    }
  }

  #hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
  }

  #drawer {
    width: 250px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;

    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
    background-color: white;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 20px 16px 0px;
    }

    li {
      display: flex;
      padding: 8px 0;
      border-bottom: 1px solid gray;
      flex-direction: row;

      a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }
  }

  @include responsive($medium) {
    #hamburger {
      display: none;
    }
    #drawer {
      position: static;
      display: flex;
      height: max-content;
      width: max-content;
      transform: translate(0, 0);

      ul {
        flex-direction: row;
        gap: 16px;
        background-color: $primary-color;
        padding: 0;

        li {
          #close-drawer {
            display: none;
          }

          a {
            color: white;
          }

          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }
  }

  #drawer.open {
    transform: translate(0, 0);
  }
}
