@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$font: "Montserrat", sans-serif;
$primary-color: #8a2be2;
$secondary-color: #ffd23f;
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

@mixin responsive($query) {
  @media only screen and (min-width: $query) {
    @content;
  }
}
